.compose-mail {
    position:fixed;
    bottom:0;
    right:2em;
    margin:0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 1em 2 rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.compose-mail form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compose-mail form label {
    color: #999;
    margin-bottom: .5em;
}

.compose-mail form input[type="text"] {
    width: 100%;
    height: 2.5em;
    padding: 0 .8em;
    border: .1em solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: 0.2s;
}

.compose-mail form input[type="text"]:focus {
    border-color: #555;
    outline: none;
}

.compose-mail form button {
    margin-top: 1.25em;
    padding: .8em 1.6em;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.compose-mail form button:hover {
    background-color: #005b9f;
}