ul.mail-list
{
    padding-inline-start: 0px;

}

li.mail-list {
    border: 0.005em solid lightgray;
    min-height: 3em;
    line-height: 3em;
}

li.mails:hover {
scale: 1.02;
}

.fa-tag {
    opacity: 0;
}

.bold {
font-weight: bold;
}


