.grid-note-list-container{
  list-style-type: none; 
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 240px) );
  grid-auto-columns: minmax(100px, content);
  gap: 20px;
  /* width: auto; */
}
