.note-list-page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .edit-note{
  width: 100%;
}
.edit-note {
  width: 100%;
} */

.note-list-add-note{
  text-align: center;
  width: 100%;
  /* margin-left: 100px */
}

.add-note-form{
  justify-items: center;
}

.edit-note-txt , .edit-note-title ,.edit-note-edit-nav{
  font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
  border-radius: 8px;
  border: solid 1px #f5f5f5;
  background-color: #ffffff;
  width: 92%;
  height:3.5rem;
  box-shadow: 1px 1px 6px 0px rgba(118, 117, 117, 0.8);
}

.edit-note-title{
  height: 1.5em;
  }

.edit-note-edit-nav{
  height: 1.5em;
   list-style-type: none; 
   display: flex;
 justify-content: center;
 gap: 30px;
 align-items: center;
 margin: 0 auto;
 }
 
 .edit-note-edit-nav > li{
   margin: 5px;
   font-size: 20px;
 }
 
 .edit-note-edit-nav > button{
   border-bottom: solid 1px rgb(98, 98, 98);
   border-radius: 10px;
   font-size: 16px;
   padding:2px 15px;
 }
 .edit-note-edit-nav > button:hover{
   background-color: rgb(186, 186, 186);
 }

.grid-note-list-container{
  list-style-type: none; 
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(170px, 170px) );
  grid-auto-columns: minmax(100px, content);
  gap: 10px;
  margin:20px 10px;
}

.note-preview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  text-align: left;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  word-wrap: break-word;
}

.note-pin-title{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;

}

.note-content{

}

.note-edit-nav{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.note-preview:hover{
  border: solid 1px #e0e0e0;
  box-shadow:0.5px 0.5px 2px 1px rgba(118, 117, 117, 0.8)
}


.note-edit-nav{
  opacity: 0.00000001;
transition-duration: 0.4s;
height: 40px;
} 
.note-preview:hover .note-edit-nav{
  opacity: 1; 
}

.note-edit-nav > li{
  display: inline;
  margin: 15px;
  font-size: 16px;
} 

.note-edit-nav i:hover{
  border-radius: 50px;
  box-shadow: 0px 0px 0px 13px rgba(95,99,104,0.157);
}

.note-pin-title > li {
  opacity: 0.00000001;
  transition-duration: 0.4s;
  display: inline;
  margin: 15px;
  font-size: 16px;
} 

.note-preview:hover .note-pin-title > li{
  opacity: 1; 
}


.note-pin-title  i:hover{
  border-radius: 50px;
  box-shadow: 0px 0px 0px 10px rgba(95,99,104,0.157);
}

.note-pin-icon{
  opacity: 0.5;
}

@media (min-width: 800px) {
  .grid-note-list-container{
    grid-template-columns: repeat( auto-fit, minmax(210px, 210px) );
    gap: 15px;
    margin:30px 65px;
  }
}

@media (min-width: 1200px) {
  .grid-note-list-container{
    grid-template-columns: repeat( auto-fit, minmax(240px, 240px) );
    gap: 20px;
  }
}